@use '../utils/index' as *;

.blog {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        &-right {
            max-width: 340px;
        }
    }

    &__desc {
        line-height: 1.5;
        color: $color-secondary;
        font-size: 18px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        gap: 5rem 1.5rem;
        margin-top: 5rem;

        @media (max-width:480px) {
            grid-template-columns: 1fr;
        }

        @include respond-to("xl") {
            margin-top: 4rem;
        }

        @include respond-to("md") {
            margin-top: 3.5rem;
        }

        @include respond-to("sm") {
            margin-top: 3rem;
        }

        @include respond-to("xs") {
            margin-top: 2.5rem;
        }
    }

    &__item {
        display: flex;
        gap: 1rem;

        @media (max-width:1300px) {
            flex-wrap: wrap;
        }
    }

    &__thumbnail-wrap {
        max-height: 480px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 310px;
        padding: 1rem 0;
        gap: 2.5rem;

        h2 {
            margin-top: 1rem;
            line-height: 33.9px;
        }

        @media (max-width:1300px) {
            max-width: 100%;
            gap: 1.5rem;
        }
    }

    &__meta {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        font-size: 14px;
        color: $color-secondary;
    }

    &__excerpt {
        margin-bottom: 1.5rem;
    }

    &__btn-wrap {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__btn-text {
        text-decoration: none;
        line-height: 1.5;
        color: $color-secondary;

        &:hover {
            text-decoration: underline;
        }
    }

}