@use '../utils/index' as *;
@use '../utils/breakpoints' as *;

.blog-details {
    background: $color-cream;

    &__area {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;

        @include respond-to("lg") {
            grid-template-columns: 1fr;
        }
    }

    &__sidebar {
        @include respond-to("lg") {
            order: 2;
        }
    }

    &__content {
        grid-column: 2 / 5;

        @include respond-to("lg") {
            grid-column: unset;
            order: 1;
        }
    }

    &__cat {
        margin-bottom: 1rem;
        color: #14372D;
    }

    &__title {
        color: var(--Text-text-black, #161616);
        font-style: normal;
        letter-spacing: -4px;
    }

    &__thumbnail-wrap {
        border-radius: 8px;
        overflow: hidden;
        margin-top: 5rem;

        @include respond-to("xl") {
            margin-top: 3.5rem;
        }

        @include respond-to("lg") {
            margin-top: 2.5rem;
        }

        @include respond-to("md") {
            margin-top: 1.5rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__excerpt,
    &__text {
        color: $color-secondary;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.3px;
        margin: 5rem 0;

        @include respond-to("xl") {
            margin: 3.5rem 0;
        }

        @include respond-to("lg") {
            margin: 2.5rem 0;
        }

        @include respond-to("md") {
            margin: 1.5rem 0;
        }
    }

    &__text {
        margin-top: 0;
        margin-bottom: 5rem;
    }

    &__text-title {
        color: $color-dark-gray;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 1.5rem;

        @include respond-to("xl") {
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }

        @include respond-to("lg") {
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        @include respond-to("md") {
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
    }

}