@use '../utils/' as *;

.hero {
    background: $color-cream;

    &__top {
        display: flex;
        justify-content: center;
    }

    &__img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 2rem;
    }

    &__middle-tag {
        color: $color-dark-green;
        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.3px;
    }
    &__middle-text {
        max-width: 572px;
        color: $color-dark-green;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.3px;
    }

    &__bottom {
        margin-top: 5rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;

        &-image {
            max-width: 100%; 
            max-height: 270px;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__bottom-item {
        min-height: 450px;
        height: 100%;
        flex-grow: 1;
    }

    &__bottom-item:nth-child(1) {
        padding-top: 2rem;
    }

    &__bottom-item:nth-child(2) {
        display: flex;
        align-items: end;
    }

    &__bottom-item:nth-child(3) {
        display: flex;
        align-items: center;
        max-height: 185px;
    }

    &__bottom-item:nth-child(5) {
        display: flex;
        align-items: end;
    }

    &__bottom-item:nth-child(6) {
        padding-top: 2rem;
    }
}