@use '../utils/index' as *;
@use '../utils/breakpoints' as *;

.how-it-works {
    background: $color-cream;

    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.5rem;
        align-items: end;
    }

    &__title {
        max-width: 555px;
    }

    &__desc {
        max-width: 460px;
    }

    .step__cards {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;


        @include respond-to('lg') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("xl") {
            margin-top: 4rem;
        }

        @include respond-to("md") {
            margin-top: 3.5rem;
        }

        @include respond-to("sm") {
            margin-top: 3rem;
            grid-template-columns: repeat(1, 1fr);
        }

        @include respond-to("xs") {
            margin-top: 2.5rem;
        }
    }

    .step__card {
        background: $color-light;
        border-radius: 16px;
        padding: 3rem 1.5rem;

        &-subtitle {
            color: $color-deep-red;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 3rem;
        }

        &-icon-wrap {
            max-width: 48px;
            max-height: 48px;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 33.6px;
            letter-spacing: 1px;
            margin-bottom: 1rem;
        }
    }
}