@use '../utils/index' as *;
@use '../utils/breakpoints' as *;

.projects {
    background: $color-cream;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        margin-top: 5rem;

        @include respond-to("xl") {
            margin-top: 4rem;
        }

        @include respond-to("lg") {
            gap: 1.5rem;
        }

        @include respond-to("md") {
            margin-top: 3.5rem;
            grid-template-columns: repeat(1, 1fr);

        }

        @include respond-to("sm") {
            margin-top: 3rem;
        }

        @include respond-to("xs") {
            margin-top: 2.5rem;
        }
    }

    &__card {
        background: $color-light;
        border-radius: 8px;
        padding: 8px;
        transition: border 0.5 ease;

        &:hover {
            border: 1px solid #710014;
            border-style: dashed;
        }

        &-thumb-wrap {
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-top: 1.5rem;
        }

        &-title {
            font-size: 18px;
            color: $color-secondary;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.3px;
        }

        &-cat {
            color: $color-secondary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
        }
    }
}