@use '../utils/index' as *;
@use '../utils/breakpoints' as *;

.projects {
    background: $color-cream;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 5rem;
        row-gap: 2.5rem;

        @include respond-to('md') {
            flex-direction: column;
            align-items: start;
        }
    }

    &__filter {

        @include respond-to('md') {
            display: flex;
            row-gap: 10px;
            column-gap: 1rem;
            flex-wrap: wrap;
        }

        &-item {
            color: $color-secondary;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.4px;
            cursor: pointer;
            padding: 5px 0;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            @include respond-to('md') {
                margin-bottom: 0;
                padding: 3px 0;
            }

            &--active {
                border-bottom: 0.8px dashed var(--Border-Border-2, #710014);
            }
        }
    }

    &__desc {
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.3px;
        max-width: 460px;
        margin-top: 1.5rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        margin-top: 5rem;

        @include respond-to("xl") {
            margin-top: 4rem;
        }

        @include respond-to("lg") {
            gap: 1.5rem;
        }

        @include respond-to("md") {
            margin-top: 3.5rem;
            grid-template-columns: repeat(1, 1fr);
        }

        @include respond-to("sm") {
            margin-top: 3rem;
        }

        @include respond-to("xs") {
            margin-top: 2.5rem;
        }
    }

    &__card {
        background: $color-light;
        border-radius: 8px;
        padding: 8px;
        transition: border 0.5 ease;

        &:hover {
            border: 1px solid #710014;
            border-style: dashed;
        }

        &-thumb-wrap {
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-top: 1.5rem;
        }

        &-title {
            font-size: 18px;
            color: $color-secondary;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.3px;
        }

        &-cat {
            color: $color-secondary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
        }
    }
}