@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/general-sans/GeneralSans-Regular.woff2') format('woff2'),
        url('../fonts/general-sans/GeneralSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/general-sans/GeneralSans-Medium.otf') format('otf'),
        url('../fonts/general-sans/GeneralSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/general-sans/GeneralSans-Semibold.otf') format('otf'),
        url('../fonts/general-sans/GeneralSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/general-sans/GeneralSans-Bold.otf') format('otf'),
        url('../fonts/general-sans/GeneralSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('../fonts/bricolage-grotesque/BricolageGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/bricolage-grotesque/BricolageGrotesque-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('../fonts/bricolage-grotesque/BricolageGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/bricolage-grotesque/BricolageGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('../fonts/bricolage-grotesque/BricolageGrotesque-SemiBold.woff2') format('woff2'),
        url('../fonts/bricolage-grotesque/BricolageGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('../fonts/bricolage-grotesque/BricolageGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/bricolage-grotesque/BricolageGrotesque-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}