@use './breakpoints' as *;
@use './variables' as *;

.title-xl {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 1px;
    color: $color-secondary;

    @include respond-to("lg") {
        font-size: 1.5rem;
    }
}

.title-xxl {
    font-size: 5rem;
    color: $color-secondary;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;

    @media (max-width:1300px) {
        font-size: 4rem;
    }

    @include respond-to("lg") {
        font-size: 3.5rem;
    }

    @include respond-to("lg") {
        font-size: 3.5rem;
    }

    @include respond-to("md") {
        font-size: 3rem;
    }

    @include respond-to("sm") {
        font-size: 2.5rem;
    }
}

.title-xxxl {
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -4px;

    @media (max-width:1300px) {
        font-size: 4.5rem;
    }

    @include respond-to("lg") {
        font-size: 4rem;
    }

    @include respond-to("lg") {
        font-size: 3.5rem;
    }

    @include respond-to("md") {
        font-size: 3rem;
    }

    @include respond-to("sm") {
        font-size: 2.5rem;
    }
}

.text-normal {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    color: $color-secondary;
}

.desc-xl {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 400;
    color: $color-secondary;
    letter-spacing: -0.3px;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    color: $color-secondary;
}