$color-primary: #494739;
$color-cream: #F2F1ED;
$color-secondary: #333333;
$color-dark-gray: #161616;
$color-deep-red: #710014;
$color-dark-green: #14372D;
$color-light-gray: rgba(219, 219, 219, 0.50);
$color-white: #FFFFFF;
$color-light: #FEFEFE;
$color-black: #000000;

$container-width: 1440px;
$container-padding-x: 20px;
$container-padding-y: 48px;